<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>{{ obra.titulo }} - Detalles</title>
</head>
<body>
    <a href="{% url 'lista_obras' %}">⬅ Volver al catálogo</a>
    
    <h1>{{ obra.titulo }}</h1>
    {% if request.user == obra.creador or request.user.is_superuser %}
        <p>
            <a href="{% url 'editar_obra' obra.id %}" style="padding: 5px 10px; background: #ffc107; color: black; text-decoration: none; border-radius: 5px;">
                ✏️ Editar esta obra
            </a>
        </p>
    {% endif %}
    <h2>Compositor: {{ obra.compositor.nombre }}</h2>
    
    <ul>
        <li><strong>Tipo:</strong> {{ obra.get_tipo_display }}</li>
        <li><strong>Año de composición:</strong> {{ obra.ano_composicion }}</li>
        <li><strong>Duración:</strong> {{ obra.duracion_minutos }} minutos</li>
        <li><strong>Instrumentos necesarios:</strong> {{ obra.num_instrumentos }}</li>
        <li><strong>Popularidad:</strong> {{ obra.popularidad }} consultas</li>
    </ul>

    {% if obra.partitura %}
        <p>📄 <a href="{{ obra.partitura.url }}" target="_blank">Descargar Partitura (PDF)</a></p>
    {% else %}
        <p><em>No hay partitura disponible para esta obra todavía.</em></p>
    {% endif %}

</body>
</html>